:root {
  --color-secondary: #cf1767;
  --color-white: #fff;
  --color-black: #050505;
  --color-gray-light: #eee;
  --color-gray-dark: #ddd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

section {
  padding: 10rem 18rem 10rem 30rem;
  width: 100%;
  height: 100vh;
}

.section-heading {
  position: relative;
}

.section-heading span:first-child::before,
.section-heading span:first-child::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.2rem;
  background-color: var(--color-secondary);
  position: absolute;
  top: 0;
}

.section-heading span:first-child::before {
  left: 0;
}

.section-heading span:first-child::after {
  right: 0;
}

.section-heading h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-top: 3.2rem;
  margin-bottom: 8rem;
  position: relative;
  text-align: center;
}

.navbar {
  height: 100%;
  width: 12rem;
  background-color: var(--color-secondary);
  position: fixed;
  z-index: 1;
  overflow: auto;
  text-align: center;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 2rem 2.5rem;
  color: var(--color-white);
  background-image: linear-gradient(
    100deg,
    transparent 0%,
    transparent 50%,
    var(--color-white) 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.navbar a span {
  display: block;
  padding: 1rem 0;
  font-size: 1.4rem;
}

.navbar a:hover {
  background-position: 100%;
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.home {
  background-color: var(--color-black);
}

.home-content {
  height: 100%;
  padding-top: 15rem;
  text-align: center;
}

.home-content-text h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-secondary);
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.home-content-text h1 {
  font-family: "Courgette", cursive;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1.4;
  color: var(--color-white);
  animation: moveInRight 1s ease-out;
}

.home-content .home-sub-heading {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--color-white);
  animation: moveInBottom 1s ease-out;
}

.home-content .home-sub-heading span:first-child::before,
.home-content .home-sub-heading span::after {
  content: "\2605";
  text-align: center;
  display: inline-block;
  padding: 0 1.4rem;
  color: var(--color-secondary);
}

.scroll-down {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 15rem;
}

.scroll-down a {
  display: inline-block;
  color: var(--color-gray-dark);
  position: relative;
  padding-right: 1rem;
  text-decoration: none;
  color: var(--color-white);
  opacity: 0.5;
}

.scroll-down .fas {
  display: block;
  color: var(--color-secondary);
  margin-top: 0.5rem;
}

.scroll-down a:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.about .about-box {
  float: left;
  width: 50%;
}

.about .profile {
  padding-right: 5rem;
  text-align: justify;
}

.about .about-box h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.about .about-box p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.about .profile p span {
  font-weight: bold;
}

.skills-container {
  width: 100%;
  background-color: var(--color-gray-dark);
}

.about .skills {
  text-align: right;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  color: var(--color-white);
  margin-bottom: 0.8rem;
  background-color: var(--color-secondary);
}

.html {
  width: 90%;
}

.css {
  width: 80%;
}

.js {
  width: 65%;
}

.jq {
  width: 60%;
}

.about-btn {
  text-align: center;
}

.about-btn .btn {
  width: 50%;
  background: var(--color-black);
  border: 3px solid var(--color-black);
  color: var(--color-white);
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  height: 6rem;
  line-height: 5.6rem;
  margin: 5rem 0;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.about-btn .btn:hover {
  background: var(--color-white);
  color: var(--color-black);
}

.services {
  background: var(--color-gray-light);
  height: 100%;
}

.services-container:after {
  content: "";
  display: table;
  clear: both;
}

.service {
  float: left;
  width: 30rem;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  height: 20rem;
  box-sizing: border-box;
  margin: 2.2rem;
  text-align: center;
  background: var(--color-white);
  box-shadow: 0.2rem 0.2rem 3rem #cf17679c;
}

.service .far,
.service .fas {
  margin-bottom: 1rem;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-radius: 50%;
  padding: 0.9rem;
}

.service h2 {
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1.4rem;
}

.works {
  height: 100%;
}

.works .gallery {
  line-height: 0;
  column-count: 2;
  column-gap: 0;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-black);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
  opacity: 0.9;
}

.image-container:hover .image-text {
  transform: scale(1);
}

.image-text h1 {
  color: var(--color-white);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.contact {
  background: var(--color-gray-light);
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: 3rem;
  box-sizing: border-box;
  margin-bottom: 2.2rem;
}

::placeholder {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

input[type="submit"] {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 1.2rem 3rem;
  border: 1px solid var(--color-secondary);
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

input[type="submit"]:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.form-container {
  padding: 0 25rem;
}

.footer {
  background-color: var(--color-gray-light);
  padding: 5rem 18rem 5rem 30rem;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

hr {
  margin-bottom: 2rem;
  background-color: var(--color-secondary);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .navbar a {
    padding: 3.8rem 2.5rem;
  }

  .home {
    height: 70vh;
  }

  .home-content {
    padding-top: 20rem;
  }

  .home-content-text h1 {
    font-size: 7rem;
    line-height: 1.8;
  }

  .home-content .home-sub-heading {
    font-size: 1.5rem;
  }

  .scroll-down {
    display: none;
  }

  section {
    padding: 10rem 8rem 10rem 20rem;
  }

  .about {
    height: 100%;
  }

  .about .about-box {
    width: 100%;
  }

  .about .about-box:nth-child(2) {
    margin-top: 5rem;
  }

  .about-btn .btn {
    margin: 10rem 0 0 0;
  }

  .about .about-box p {
    font-size: 2rem;
  }

  .service {
    width: 62rem;
    padding: 2rem 4rem;
    height: 20rem;
  }

  .service h2 {
    font-size: 2rem;
  }

  .service p {
    font-size: 1.8rem;
  }

  .image-text {
    line-height: 1.4;
  }

  .contact {
    padding: 10rem 8rem 0rem 20rem;
    height: 80vh;
  }

  .form-container {
    padding: 0 6rem;
  }

  .footer {
    padding: 0rem 18rem 5rem 30rem;
    font-size: 1.7rem;
  }
}
